/*! Source en Sass : http://www.css-maintenables.fr/sass/screen.scss */
@import 'compass/css3';

// ============
// = Couleurs =
// ============
$body:    #201F1F;

$primary: #7BC55C;
$links:   #6AB742;


// Respond-to Mixin
// http://thesassway.com/intermediate/responsive-web-design-part-2
@mixin respond-to($media) {
  @if $media == handhelds {
    @media (max-width: 600px) { @content; }
  }
  @else if $media == medium-screens {
    @media (min-width: 601px) { @content; }
  }
  @else if $media == wide-screens {
    @media (min-width: 800px) { @content; }
  }
}


// ==========
// = Styles =
// ==========

// Typographie
html {
  font: lighter 100%/1.5 sans-serif;
  border-top: 4px solid $primary;
  color: $body;
}

body {
  width: 85%;
  max-width: 50em;
  min-width: 16em;
  margin: 0 auto 3em;
}
blockquote,
ul {
  margin-left: 1.8em;
  padding-left: 0;
}

a {
  color: $links;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 0;
  
  &:focus,
  &:hover,
  &:active { text-decoration: underline; }
}

h1 {
  color: #999;
  line-height: 1.2;
  margin-bottom: .2em;
  padding-bottom: 0;
}

@mixin separator {
  border-top: 3px solid lighten($body, 80%);
  padding-top: 6px;
  margin-top: -6px;
}

header {
  p {
    font-size: 1.3em;
    margin: 0 0 .25em;
    padding: 0;
    + p {
      font-size: .9em;
    }
  }
  @include respond-to(medium-screens) {
    font-size: 1.5em;
    margin-bottom: 1.25em;
  }
}

body {
  > section,
  > header,
  > figure,
  > footer {
    padding: 0 1%;
    @include box-sizing(border-box);
  }
  > section {
    margin-bottom: 2em;
  }
}


// Sections
.cover {
  text-align: center;
  img {
    max-width: 100%;
  }
  @include respond-to(medium-screens) {
    width: 45%;
    float: right;
    padding: 0 1% 0 4%;
    margin-left: 0;
    margin-right: 0;
  }
}

.introduction {
  font-size: 1.2em;
  p {
    + p {
      font-size: .90909090909090909090em;
    }
  }
  
}

//.buy {
//
//}

.quotes {
  @include respond-to(medium-screens) {
    clear: both;
  }
}
  blockquote {
    margin-bottom: 2em;
    + blockquote {
      border-top: 1px solid lighten($primary, 30%);
    }
    @include respond-to(medium-screens) {
      margin-left: 1em;
    }
  }
    cite {
      color: lighten($body, 40%);
      a {
        color: lighten($body, 30%);
      }
    }
    
.buy,
.quotes {
  
  @include respond-to(medium-screens) {
    clear: both;
    color: lighten($body, 25%);
    font-size: .9em;
    width: 45%;
    float: right;
    padding: 0 1% 0 4%;
    background: #fff;
    h2 {
      @include separator;
    }
  }
}

.about {
  
}

footer,
.toc {
  h2 {
    @include separator;
  }
}